@using Banking.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Banking Admin">
    <meta name="author" content="Pioter">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Panel Administratora</title>
    @Styles.Render("~/AdminCSS")
</head>
<body class="app sidebar-mini">
    <header class="app-header">
        <a class="app-header__logo" href="@Url.Action("Index","Home")">Banking</a>
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar"></a>
        <ul class="app-nav">
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Ustawienia</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Profil</a></li>
                    @Html.Partial("_LogoutAdminPartial")
                </ul>
            </li>
        </ul>
    </header>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="~/Content/Admin/Img/pioter.jpg" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">Piotr Strzelecki</p>
                <p class="app-sidebar__user-designation">.Net Developer</p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item @Html.IsActive("Index", "PanelAdmin")" href="@Url.Action("Index","PanelAdmin")"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "UsersAdmin")" href="@Url.Action("Index","UsersAdmin")"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Użytkownicy</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "BankAccountsAdmin")" href="@Url.Action("Index","BankAccountsAdmin")"><i class="app-menu__icon fa fa-university"></i><span class="app-menu__label">Konta bankowe</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "PaymentsAdmin")" href="@Url.Action("Index","PaymentsAdmin")"><i class="app-menu__icon fa fa-credit-card"></i><span class="app-menu__label">Płatności</span></a></li>
        </ul>
    </aside>
    <main class="app-content">
        @RenderSection("Breadcrumb", required: false)
        <div class="row">
            @if (TempData["message"] != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Świetnie!</strong> @TempData["message"]
                    </div>
                </div>
            }
            @if (TempData["error"] != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Niestety!</strong> @TempData["error"]
                    </div>
                </div>
            }
            @RenderBody()
        </div>
    </main>

    @Scripts.Render("~/AdminJS")
    @RenderSection("scripts", required: false)

</body>
</html>