@using Banking.Helpers
@model IEnumerable<Banking.Models.PaymentAdminViewModel>

@{
    ViewBag.Title = "Płatności";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Styles.Render("~/DatatablesCSS")

@section Breadcrumb{
    <div class="app-title">
        <div>
            <h1><i class="fa fa-credit-card"></i> @ViewBag.Title</h1>
            <p>Zarządzanie płatnościami</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "PanelAdmin")"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ul>
    </div>
}
<div class="col-md-12">
    <div class="tile">
        <a href="@Url.Action("Create", "PaymentsAdmin")"><i class="fa fa-plus fa-lg"></i>Nowa płatność</a>
        <table class="table table-hover table-bordered" id="itemsTable">
            <thead>
                <tr class="text-center">
                    <th>
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.To)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OperationType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        Akcje
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.ActionLink(item.From.User.ToString(), "Details","UsersAdmin", new {id = item.From.User.Id}, null)
                        </td>
                        <td>
                            @Html.ActionLink(item.To.User.ToString(), "Details","UsersAdmin", new {id = item.To.User.Id}, null)
                        </td>
                        <td>
                            @item.PaymentDate.ToShortDateString()
                        </td>
                        <td>
                            @Html.EnumDisplayNameFor(item.OperationType)
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Details", "PaymentsAdmin", new { id = item.Id })"><i class="fa fa-eye fa-lg"></i></a>
                            <a href="@Url.Action("Edit", "PaymentsAdmin", new { id = item.Id })"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                            <a href="#" class="buttonDelete" onclick="setId(@item.Id)"><i class="fa fa-trash fa-lg"></i></a>

                            @using (Html.BeginForm("Delete", "PaymentsAdmin", new { id = item.Id }, FormMethod.Post, htmlAttributes: new { id = "deleteForm" + item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" hidden />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/DatatablesJS")
    @Scripts.Render("~/SweetAlert")
    <script type="text/javascript">
        $('#itemsTable').DataTable();
        var global;
        function setId(id) {
            global = id;
        };

        $('.buttonDelete').click(function () {
            swal({
                title: "Jesteś pewny?",
                text: "Nie będziesz w stanie cofnąć tej operacji!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Tak, usuń!",
                cancelButtonText: "Nie, cofnij!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Usunięte!", "Element został usunięty", "success");
                    $('.confirm').on('click', () => {
                        $('#deleteForm' + global).submit();
                    })
                } else {
                    swal("Anulowano", "Dane nie zostały usunięte", "error");
                }
            });
        });
    </script>
}
